#topnav {
  background-color:black;
  color:white;
  text-align:center;
  padding:5px;
}
#nav {
  line-height:30px;
  background-color: red;
  height:300x;
  width:300px;
  padding:5px;	      
}
#section {
  width:350px;
  float:left;
  padding:10px;
  background-color: green;
  position:relative;
}
#footer {
  position:relative;
  background-color:black;
  color:white;
  clear:both;
  text-align:center;
 padding:5px;	 	 
}
.right{float:right}
.left{float:left}
.logo-name{
  position: absolute;
   top: -22px;
  color: blue;
  width: 100%;
  font-size: 36px;
  margin: 0 auto;
  font-weight: bold;}
li{display:inline-block;list-style:none;width:80px}
ul{text-align:right}